:root{
    --normal: #A8A878;
    --fighting: #C03028;
    --flying: #A890F0;
    --poison: #A040A0;
    --ground: #E0C068;
    --rock: #B8A038;
    --bug: #A8B820;
    --ghost: #705898;
    --steel: #B8B8D0;
    --fire: #FA6C6C;
    --water: #6890F0;
    --grass: #48CFB2;
    --electric: #FFCE4B;
    --psychic: #F85888;
    --ice: #98D8D8;
    --dragon: #7038F8;
    --dark: #705848;
    --fairy: #EE99AC;
}

.PokemonCard{
    background-color: #ebe8e8;
    margin: 10px;
    width: 30%;
    border-radius: 10%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.PokemonCardInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.PokemonCard:hover{
    background-color: rgb(208, 225, 208);
}
.PokemonCardImage{
    width: 10vw;
}
.PokemonCardInfoTitle{
    font-size: 22px;
    font-weight: 700;
}
.PokemonCardInfoStats{
    list-style: none;
}
