:root {
  --normal: #a8a878;
  --fighting: #c03028;
  --flying: #a890f0;
  --poison: #a040a0;
  --ground: #e0c068;
  --rock: #b8a038;
  --bug: #a8b820;
  --ghost: #705898;
  --steel: #b8b8d0;
  --fire: #fa6c6c;
  --water: #6890f0;
  --grass: #48cfb2;
  --electric: #ffce4b;
  --psychic: #f85888;
  --ice: #98d8d8;
  --dragon: #7038f8;
  --dark: #705848;
  --fairy: #ee99ac;
}

.PokemonCard {
  background-color: #ebe8e8;
  margin: 10px;
  width: 30%;
  max-width: 500px;
  max-height: 120px;
  border-radius: 10%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.PokemonCardInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.PokemonCard:hover {
  background-color: rgb(208, 225, 208);
}
.PokemonCardImage {
  width: 8vw;
}
.PokemonCardInfoTitle {
  font-size: 22px;
  font-weight: 700;
}
.PokemonCardInfoStats {
  list-style: none;
}
