.AboutmeScreen{
  position: absolute;
  top: 93px;
  height: calc(100vh - 136px);
  background-color: red;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  background: white;

}
.Picture{
  width: 500px;
}
.my-name{
  font-size: 8rem;
}
