.PokemonListScreen{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
    margin-top: 2%;
    background-color: rgba(255, 200, 0, 0.911);
}