.Section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.SectionCard{
    display: flex;
    flex-direction: column;
    width: 26%;
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    margin:2% 2% 0px 2%;
}
.SectionCardTitle{
    color: black;
    font-size: 25px;
}
.SectionCardNumber{
    color: black;
    font-size: 20px;
}

.SectionCardImage{
    
    
}