.Section{
    background-color: #F5DB13;
    height: 100%;
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.Section_main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin-left: 5vw;
}
.Section_title{
    font-size: 7.2rem;
    font-weight: 500;
    
}
.Section_title span{
    font-weight: bold;
}
.Section_text{
    margin-top: 60px;
    font-size: 2rem;
}
.Section_button{
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-top: 60px;
    background-color: rgb(157, 211, 157);
}
.Banner{
    width: 700px;
    position: absolute;
    right: 0px;
}
