.Section{
    background: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
    height: 100%;
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.Section_main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin-left: 5vw;
}
.Section_title{
    font-size: 7.2rem;
    font-weight: 400;
    
}
.Section_title span{
    font-weight: bold;
}
.Section_text{
    margin-top: 60px;
    font-size: 3.2rem;
    font-weight: 400;
}
.Section_button{
    width: 250px;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 2.3rem;
    margin-top: 10px;
    background: #73D677;
    border: 0px solid white;
    box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    font-weight: 700;
}
.Banner{
    width: 793px;
    position: absolute;
    right: 0px;
}
